<div>

    <h2 translate="hillromvestApp.userLoginToken.home.title">UserLoginTokens</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveUserLoginTokenModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="hillromvestApp.userLoginToken.home.createLabel">Create a new UserLoginToken</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveUserLoginTokenModal" tabindex="-1" role="dialog" aria-labelledby="myUserLoginTokenLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLoginTokenLabel" translate="hillromvestApp.userLoginToken.home.createOrEditLabel">Create or edit a UserLoginToken</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="global.field.id">ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="userLoginToken.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="hillromvestApp.userLoginToken.createdTime">CreatedTime</label>
                            <input type="datetime-local" class="form-control" name="createdTime"
                                   ng-model="userLoginToken.createdTime" ng-model-options="{timezone: 'UTC'}">

                            <div ng-show="editForm.createdTime.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.createdTime.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserLoginTokenConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(userLoginToken.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="hillromvestApp.userLoginToken.delete.question" translate-values="{id: '{{userLoginToken.id}}'}">Are you sure you want to delete this UserLoginToken?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="hillromvestApp.userLoginToken.createdTime">CreatedTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userLoginToken in userLoginTokens">
                    <td><a ui-sref="userLoginTokenDetail({id:userLoginToken.id})">{{userLoginToken.id}}</a></td>
                    <td>{{userLoginToken.createdTime}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="userLoginTokenDetail({id:userLoginToken.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(userLoginToken.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(userLoginToken.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
