<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.hmrnotification.title}">Hillrom Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="!${user.firstName} ? #{email.notification.greeting('User')}">
        </p>
        <p th:text="${user.firstName} ? #{email.notification.greeting(${user.firstName}+' '+${user.lastName})}">
        </p>
      
        <p th:text="#{email.hmrnotification.message}">
            You have 3 missed Therapy days. Daily therapy is advisable for you to stay fit and healthy.
        </p>
        <p>
            <span th:text="#{email.notification.regards}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
