<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.therapynotification.title}">Hillrom Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="!${user.firstName} ? #{email.notification.greeting('User')}">
        </p>
        <p th:text="${user.firstName} ? #{email.notification.greeting(${user.firstName}+' '+${user.lastName})}">
        </p>
		<br/>      
	    <p th:if="${isMissedTherapyNotification}" th:text="#{email.therapynotification.message}"></p>
		<p th:if="${isHmrNonComplianceNotification}" th:text="#{email.hmrnotification.message}"></p>
		<p th:if="${isSettingsDeviatedNotification}" th:text="#{email.settingsnotification.message}"></p>
        <p th:if="${isHMRNonComplianceAndSettingsNotification}" th:text="#{email.hmrandsettingsnotification.message}"></p>
        <br/>
        <a th:href="@{|${notificationUrl}/#/login|}">click here to view details</a>
        <p>
            <span th:text="#{email.notification.regards}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
