<div>
  Create Doctor

  <div>
    <form ng-submit="">
      <div>Clinic Name * <input type="text" ng-model="clinicName"/></div>
      <div><input type="checkbox" />Add another Clinic</div>
      <div>Title <span>Dr.</span></div>
      <div>First Name * <input type="text" ng-model="firstName"/></div>
      <div>Middle Name <input type="text" ng-model="middleName"/></div>
      <div>Last Name * <input type="text" ng-model="lastName"/></div>

      <div>Specialist<input type="text" ng-model="specialist"/></div>
      <div>Credentials<input type="text" ng-model="credentials"/></div>
      <div>Email *<input type="text" ng-model="email"/></div>



      <div>Primary Phone <input type="text" ng-model="primaryPhone"/></div>
      <div>Mobile Number <input type="text" ng-model="mobileNumber"/></div>
      <div>Fax Number <input type="text" ng-model="faxNumber"/></div>
      <div>Address <input type="text" ng-model="address"/></div>
      <div>Zip Code <input type="text" ng-model="zipCode"/></div>
      <div>City <input type="text" ng-model="city"/></div>
      <div>State <input type="text" ng-model="state"/></div>
    </form>
  </div>

</div>