<span ng-show="patientStatus.isMessage">{{patientStatus.message}}</span>
<div class="navbar dashboard dashbord-nav">
    <div class="container">
      <div class="dashbord-nav__primary pull-left">
        <span class="dashbord-nav__primary--title" translate="patient.home.manageLabel">Manage Patient</span>
      </div>

      <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createPatient()">
        <span class="" translate="patient.home.createNewLabel"></span>
        <span class="hillrom-icon icon-plus-icon"></span>
      </div>
    </div>
  </div>
  <div class="dashboard dashboard--content">
    <div class="container dashboard__manage-view margin-top-xl">
      <div class="row dashboard__manage-view--search">
        <div class="col-md-14 reset-padding-right">
          <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'patient.placeholder.search' | translate}}">
          <span class="search-icon hillrom-icon icon-search-icon"></span>
        </div>
        <div class="col-md-2 reset-padding-left">
          <div class="search-dropdown">
            <select name="search">
              <option translate="patient.search.new" selected>Newly Created</option>
            </select>
          </div>
        </div>
      </div>

       <div class="dashboard__manage-view--list" ng-repeat="patient in patients">
         <div ng-click="selectPatient(patient)">
          <div class="col-md-3 reset-padding-left">
            <span class="user-name">{{patient.lastName}} {{patient.firstName}}</span>
            <span class="user-email">{{patient.email}}</span>
          </div>
          <div class="col-md-4">
            <span class="user-home-no"></span>
            <span class="user-address">{{patient.address}}</span>
          </div>
          <div class="col-md-4">
            <span class="hcp-name"></span>
            <span class="clinic-name"></span>
          </div>
          <div class="col-md-5 reset-padding-right">
            <div class="row">
              <div class="col-md-7 center-text">
                <span class="hr-id">{{patient.hillromId}}</span>
              </div>
              <div class="col-md-3">
                <span class="hillrom-icon icon-lungs user-lungs"></span>
              </div>
              <div class="col-md-3">
                <div class="progress-input">90%</div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90"
                  aria-valuemin="0" aria-valuemax="100" ng-style="{width: '90'+'%'}">
                  </div>
                </div>
              </div>
              <div class="col-md-3 reset-padding-right text-center">
                <span class="hillrom-icon icon-pressure user-pressure"></span>
              </div>
            </div>
          </div>
          <div class="clr"></div>
         </div>
       </div>

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found">{{total}} Patients</span>
            <span class="record-found">Found</span>
            <span ng-show="pageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchPatients('PREV')">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchPatients('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-help">
  <div class="container">
    <div class="row user-help--container">
      <div class="col-md-8 user-help-devider">
        <div class="col-md-4 help-icon">
          <span class="hillrom-icon icon-man-with-circle"></span>
        </div>
        <div class="col-md-12 user-help__desc">
            <span class="user-help__desc--heading">Ideal HMR Reading</span>
            <p class="user-help__desc--content">
                A Lower range peak flow meter is for small children, and a standard range peak flow meter is for older children, teenagers and adults.
            </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-4 help-icon">
          <span class="hillrom-icon icon-tablet-with-circle"></span>
        </div>
        <div class="col-md-12">
            <span class="user-help__desc--heading">Ideal HMR Reading</span>
            <p class="user-help__desc--content">
                A Lower range peak flow meter is for small children, and a standard range peak flow meter is for older children, teenagers and adults.
            </p>
        </div>
      </div>
      <span class="user-help--close glyphicon glyphicon-remove"></span>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".user-help--close").click(function(){
      $(".user-help").animate({ height: '0px' }, 1000, function() {
        $(".user-help").hide();
      });
    });
  });
</script>