
<div class="container login">
  <div class="login--position">
    <div class=" form__container__authenticate  col-md-8 col-lg-8">
      <div class="col-md-6 col-lg-6 ">
        <img src="assets/images/man.svg">
      </div>
      <div class=" col-md-10 col-lg-10 login__container__right-section">
       
         <h1 translate="reset.finish.title">Reset password</h1>

            <div class="alert alert-danger has-error" translate="reset.finish.messages.keymissing" ng-show="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-danger has-error" ng-show="error">
                <p translate="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>
            
            <div class="alert alert-danger has-error" ng-show="otherError">
                <p >Error occured!. Please try again</p>
            </div>

            <div class="alert alert-danger has-error" ng-show="questionsNotLoaded">
                <p >Security questions failed to load! Please try again</p>
            </div>

            <div class="alert alert-danger has-error" ng-show="questionVerificationFailed">
                <p >Security question and answer didn't match!. Please try again</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p translate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please <a href="#/login">authenticate</a>.</p>
            </div>

            <div class="alert alert-danger has-error" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
                <div ng-hide="keyMissing">
                    <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
                        <div class="form-group">
                            <label translate="global.form.newpassword">New password*</label>
                            <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   ng-model="resetAccount.password" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
                            <div ng-show="(form.password.$dirty && form.password.$invalid) || submitted">
                                <p class="has-error"
                                   ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </p>
                                <p class="has-error"
                                   ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 8 characters.
                                </p>
                                <p class="has-error"
                                   ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                                <p class="has-error"
                                   ng-show="form.password.$error.pattern" >
                                    Your password is invalid.
                                </p> 
                            </div>
                            <password-strength-bar password-to-check="resetAccount.password"></password-strength-bar>
                        </div>

                        <div class="form-group">
                            <label translate="global.form.confirmpassword">New password confirmation*</label>
                            <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                   ng-model="resetAccount.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
                            <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$invalid) || submitted ">
                                <p class="has-error"
                                   ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                    Your password confirmation is required.
                                </p>
                                <p class="has-error"
                                   ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                                    Your password confirmation is required to be at least 8 characters.
                                </p>
                                <p class="has-error"
                                   ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                    Your password confirmation cannot be longer than 50 characters.
                                </p>
                                <p class="has-error"
                                   ng-show="form.confirmPassword.$error.pattern" >
                                    Your password is invalid.
                                </p>
                            </div>     
                        </div> 

                        <div class="form-group">
                            <label>Choose security question*</label>
                            <select class="form-control" name="question" ng-model="resetAccount.question" required ng-options="question.question for question in questions">
                              <option value="">-- select a security question --</option>
                            </select>


                            <div ng-show="(form.question.$dirty && form.question.$invalid) || submitted">
                                <p class="has-error"
                                   ng-show="form.question.$error.required">
                                    Security question is required.
                                </p>
                            </div>     
                        </div> 

                        <div class="form-group">
                            <label>Answer security question*</label>
                            <input type="text" class="form-control" name="answer" ng-model="resetAccount.answer" required>
                            <div ng-show="(form.answer.$dirty && form.answer.$invalid) || submitted">
                                <p class="has-error"
                                   ng-show="form.answer.$error.required">
                                    Answer is required.
                                </p>
                            </div>     
                        </div> 

                        <button type="submit" ng-click="formSubmit()" class="myButton" translate="reset.finish.form.button">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>