<div>
  Create Clinic

  <div>
    <form ng-submit="">
      <div>Clinic Name * <input type="text" ng-model="clinicName"/></div>
      <div>Satellite Clinic * <input type="text" ng-model="satelliteClinic"/></div>
      <div><input type="checkbox"/> Add another Clinic</div>

      <div>Address <input type="text" ng-model="address"/></div>
      <div>Zip Code <input type="text" ng-model="zipCode"/></div>
      <div>City <input type="text" ng-model="city"/></div>
      <div>State <input type="text" ng-model="state"/></div>
      <div>Phone Number <input type="text" ng-model="phoneNumber"/></div>
      <div>Fax Number <input type="text" ng-model="faxNumber"/></div>
      <div>Clinic Admin <input type="text" ng-model="clinicAdmin"/></div>
    </form>
  </div>

</div>