
<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary secondary-fix-navbar pull-left" ng-show="userStatus.isCreate">
      <span class="dashbord-nav__primary--title" translate="user.home.createLabel">Create Hill-Rom User</span>
    </div>
    <div class="dashbord-nav__primary pull-left" ng-show="!userStatus.isCreate">
      <span class="dashbord-nav__primary--title" translate="user.home.updateLabel">Update Hill-Rom User</span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-show="!userStatus.isCreate" ng-click="cancel()">
      <span class="">Back</span>
    </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="createUser()" novalidate>
    <div class="container dashboard__form">

      <div class="row margin-top-xl">
        <div class="col-md-16 row">
          <div class="col-md-12 row">
           <span class="dashboard__form--type" translate="user.personal-details"></span>
          </div>
          <div class="col-md-4 row user-required">
            <span translate="user.required-field"></span>
          </div>
        </div>

        <div class="col-md-16 row margin-top">
          <div class="col-md-7 row">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.title.name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input">
              <div class="custom-dropdown">
                <select ng-model="user.title" name="title" ng-readonly="validateSuperAdmin()">
                  <option selected translate="user.title.mr" value="Mr."></option>
                  <option translate="user.title.mrs" value="Mrs."></option>
                  <option translate="user.title.miss" value="Miss"></option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-7 row col-md-offset-2" ng-show="userStatus.editMode">
            <div class="col-md-6 dashboard__form--label">
              <span class="" >User ID</span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="text" readonly>
            </div>
          </div>

        </div>



        <div class="col-md-16 row margin-top">
          <div class="col-md-7 row">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="text" name="firstName"  ng-model="user.firstName" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-zA-Z]+$/" ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  First Name is required.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.pattern" >
                  First Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" >
                  First Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" >
                  First Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 row col-md-offset-2">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="text" name="middleName" ng-model="user.middleName" ng-pattern="/^[a-zA-Z]+$/" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.middleName.$dirty && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" >
                  Middle Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" >
                  Middle Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" >
                  Middle Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 row margin-top">
          <div class="col-md-7 row">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="text" name="lastName" ng-pattern="/^[a-zA-Z]+$/" ng-model="user.lastName" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required">
                  Last Name is required.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.pattern" >
                  Last Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.minlength" >
                  Last Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" >
                  Last Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 row col-md-offset-2">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.employee-id"></span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="text" name="employeeID" ng-model="user.employeeID" ng-readonly="validateSuperAdmin()">
            </div>
          </div>
        </div>

        <div class="col-md-16 row margin-top">
          <div class="col-md-7 row">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.email"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input">
              <input class="" type="email" name="email" ng-model="user.email" ng-maxlength=100 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.email.$dirty && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.email">
                  Your e-mail is invalid.
                </span>
                <span class="has-error" ng-show="form.email.$error.maxlength">
                  Your e-mail cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 row col-md-offset-2">
            <div class="col-md-6 dashboard__form--label">
              <span class="" translate="user.role-text"></span>
               <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option">
              <div class="custom-dropdown">
                <select name="role" ng-model="user.role" ng-readonly="validateSuperAdmin()">
                  <option selected translate="user.role.super-admin" value="ADMIN">Super Admin</option>
                  <option translate="user.role.account-services" value="ACCT_SERVICES">Account Services</option>
                  <option translate="user.role.associates" value="ASSOCIATES">Associates</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 row margin-top">
          <div class="row padding-right-xl">
            <button class="hillrom-btn btn-submit float-right" ng-show="userStatus.isCreate" ng-click="formSubmit()" translate="user.submit-button-text">Submit</button>
            <button type="reset" ng-click="cancel()" ng-show="userStatus.isCreate" class="hillrom-btn btn-submit float-right" >Cancel</button>
            <button class="hillrom-btn btn-submit float-right" ng-click="formSubmit()" ng-show="!userStatus.isCreate">Update</button>
            <button class="hillrom-btn btn-submit float-right" ng-click="open()" ng-show="!userStatus.isCreate">Disassociate</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div ng-if="showModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close()">&times;</button>
         Are you sure you want to Disassociate the User ?
      </header>
      <div class="modal__body">
         <div class="modal--message">If you disassociate the user,you will no longer be able to view their information</div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="deleteUser()">Yes</buton> 
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="close()">No</buton> 
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
