
<div class="navbar dashboard dashbord-nav">
    <div class="container">
      <div class="dashbord-nav__primary pull-left">
        <span class="dashbord-nav__primary--title">Manage Clinics</span>
      </div>

      <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createClinic()">
        <span class="dashbord-nav__secondary--create-new">Create New</span>
        <span class="hillrom-icon icon-plus-icon"></span>
      </div>
    </div>
    <span ng-show="clinicStatus.isMessage">{{clinicStatus.message}}</span>
  </div>
  <div class="dashboard dashboard--content">
    <div class="container dashboard__manage-view margin-top-xl">
      <div class="row dashboard__manage-view--search">
        <div class="col-md-14 reset-padding-right">
          <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}" >
          <span class="search-icon hillrom-icon icon-search-icon"></span>
        </div>
        <div class="col-md-2 reset-padding-left">
          <div class="search-dropdown">
            <select name="search" ng-model="sortOption" ng-change="searchClinics()">
              <option value="" selected>Newly Created</option>
              <option value="email">Email</option>
              <option value="first_name">First Name</option>
              <option value="last_name">Last Name</option>
            </select>
          </div>
        </div>
      </div>

       <div class="dashboard__manage-view--list" ng-repeat="clinic in clinics">
         <div ng-class="{ inactive: 'clinic.deleted === true'}" ng-click="selectClinic(clinic)">
          <div class="col-md-3 reset-padding-left">
            <span ng-class="{ parentClinic: 'clinic.parent === true'}" class="user-name">{{clinic.name}} {{clinic.id}}</span>
          </div>
          <div class="col-md-4">
            <span class="user-home-no">{{clinic.city}} {{clinic.state}}</span>
            <span class="user-address">{{clinic.address}} {{clinic.zipcode}}</span>
          </div>
          <div class="col-md-4">
            <span class="hcp-name">{{clinic.hillromId}}</span>
            <span class="clinic-name"></span>
          </div>
          <div class="col-md-5 reset-padding-right">
            <span>{{clinic.phoneNumber}} {{clinic.faxNumber}}</span>
          </div>
          <div class="clr"></div>
         </div>
       </div>

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found">{{total}} Clinics</span>
            <span class="record-found">Found</span>
            <span ng-show="pageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchClinics('PREV')">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchClinics('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-help">
  <div class="container">
    <div class="row user-help--container">
      <div class="col-md-8 user-help-devider">
        <div class="col-md-4 help-icon">
          <span class="hillrom-icon icon-man-with-circle"></span>
        </div>
        <div class="col-md-12 user-help__desc">
            <span class="user-help__desc--heading">Ideal HMR Reading</span>
            <p class="user-help__desc--content">
                A Lower range peak flow meter is for small children, and a standard range peak flow meter is for older children, teenagers and adults.
            </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-4 help-icon">
          <span class="hillrom-icon icon-tablet-with-circle"></span>
        </div>
        <div class="col-md-12">
            <span class="user-help__desc--heading">Ideal HMR Reading</span>
            <p class="user-help__desc--content">
                A Lower range peak flow meter is for small children, and a standard range peak flow meter is for older children, teenagers and adults.
            </p>
        </div>
      </div>
      <span class="user-help--close glyphicon glyphicon-remove"></span>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".user-help--close").click(function(){
      $(".user-help").animate({ height: '0px' }, 1000, function() {
        $(".user-help").hide();
      });
    });
  });
</script>
