<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse " id="navbar-collapse">
      <span class="brand_name">My Dashboard</span>
      <ul class="nav nav-pills pull-right patient_dash_right_nav">
          <li role="presentation" ng-class="{active: isActive('caregiver')}"><a href="" ng-click="switchPatientTab('patientdashboardCaregiver')">Caregiver</a></li>
          <li role="presentation" ng-class="{active: isActive('DeviceProtocol')}"><a href="" ng-click="switchPatientTab('patientdashboardDeviceProtocol')">Device And Protocol</a></li>
          <li role="presentation" ng-class="{active: isActive('ClinicHCP')}" ><a href="" ng-click="switchPatientTab('patientdashboardClinicHCP')">Clinics And HCP</a></li>
      </ul>
    </div>
  </div>
</div>