<div>
  Create Patient

  <div>
    <form ng-submit="createUser()">
      <div>Title
        <select>
          <option>
            Mr.
          </option>
        </select>
      </div>
      <div>First Name * <input type="text" ng-model="firstName"/></div>
      <div>Middle Name <input type="text" ng-model="middleName"/></div>
      <div>Last Name * <input type="text" ng-model="lastName"/></div>
      <div>Email <input type="text" ng-model="email"/></div>
      <div>Select Role
        <select>
          <option>
            Super Admin
          </option>
        </select>
      </div>
      <input type="submit"></form>
    </form>
  </div>

</div>