  <div class="container login">
    <div class="login--position">
      <div class=" form_container login__container col-md-8 col-lg-8">
        <div class="col-md-4 col-lg-4 ">
          <img src="assets/images/man.svg">
        </div>
        <div class=" col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2 login__container__right-section">

          <p><strong>FORGOT YOUR PASSWORD?</strong></p>
          <p ng-show="!success">Please enter the email address registered on your account</p>

          <div class="alert alert-danger text-center has-error" translate="reset.request.messages.notfound" ng-show="errorEmailNotExists">
            <strong>E-Mail address isn't registered!</strong> Please check and try again.
          </div>

          <div class="alert alert-success " ng-show="success == 'OK'">
            <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
          </div>
          <form ng-show="!success" name="form" role="form" novalidate  show-validation>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
              ng-model="resetAccount.email"  ng-maxlength=100 required>
              <div ng-show="(form.email.$dirty && form.email.$invalid) || submitted">
                <p class="has-error"
                ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                Your e-mail is required.
              </p>
              <p class="has-error"
              ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
              Your e-mail is invalid.
            </p>
            <p class="has-error"
            ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
            Your e-mail cannot be longer than 100 characters.
          </p>
        </div>

      </div>     

      <p class="help-block"
      ng-show="captchaError">
      Please verify again you are not a robot.
    </p>
    <div  ng-show="showCaptcha">
     <div vc-recaptcha
     theme="'light'"
     key="siteKey"
     on-create="setWidgetId(widgetId)"
     on-success="setResponse(response)">
   </div>

 </div>
 <div class="col-md-8 col-lg-8 link"><a translate="reset.request.form.button" ng-click="requestReset()" class="myButton">LOGIN</a></div>
</form>
</div>
</div>
</div>
</div>








  <!-- 
  <div class="reset">
    <div class="col-md-16 reset__container">
        <div class="col-md-11 reset__container__left-section">
            <div class="reset__container__left-section--description">
                <div class="reset__container__left-section--description content">
                    The Vest Airway Clearance System, Model 105, is a designed to assist patients in the mobilization of retained secretions that, if not removed, may lead to increased rates of respiratory infaction, hospitalization and reduced lung function.
                </div>
                <div class="reset__container__left-section--description image">
                    <img src="assets/images/heart.png">
                </div>
            </div>
        </div>
        <div class="col-md-5 reset__container__right-section">
        <div class="reset__container__right-section--form">
            <div class="text-center"><span class="glyphicon glyphicon-lock"></span></div>
            <div class="text-center textUpperCase indent-bottom-5" translate="reset.request.title">Login to your Account</div>

            <div class="alert alert-danger text-center" translate="reset.request.messages.notfound" ng-show="errorEmailNotExists">
                <strong>E-Mail address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning text-center" ng-hide="submitted">
                <p translate="reset.request.messages.info">Enter the registered e-mail address .</p>
            </div>

            <div class="alert alert-success" ng-show="success == 'OK'">
                <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
            </div>

            <form ng-show="!success" name="form" role="form" novalidate  show-validation>
                <div class="form-group">
                   
                    <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="resetAccount.email"  ng-maxlength=100 required>
                    <div ng-show="(form.email.$dirty && form.email.$invalid) || submitted">
                        <p class="help-block"
                           ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>

                </div>
                
                  <p class="help-block"
                           ng-show="captchaError">
                            Please verify again you are not a robot.
                    </p>
                  <div  ng-show="showCaptcha">
                     <div vc-recaptcha
                      theme="'light'"
                      key="siteKey"
                      on-create="setWidgetId(widgetId)"
                      on-success="setResponse(response)">
                    </div>

                </div>

                <button class="reset-button center-block"  translate="reset.request.form.button" ng-click="requestReset()" >Register</button>
                
            </form>
        </div>
    </div>
  </div> -->
