<hcp-navbar></hcp-navbar>

<div class="container admin-user">
  <div class="col-md-16 admin-views">
    <span class="admin-views--title">
      {{clinic.name}}
    </span>
  </div>

  <div class="col-md-16 user-detail-info">
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.hillRom-id"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">{{clinic.hillromId}}</span>
    </div>
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.type"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">{{clinic.type}}</span>
    </div>
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.status"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">{{clinic.status}}</span>
    </div>

    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.phoneNumber"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">209-263-9080</span>
    </div>
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.address"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">8244 Heather Lane</span>
    </div>
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.city"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">New York</span>
    </div>
    <div class="col-md-4 user-detail-info__data">
      <span class="user-detail-info__data--key" translate="clinic.state"></span>
      <span class="user-detail-info__data--key">:</span>
      <span class="user-detail-info__data--value">NY</span>
    </div>
  </div>

  <div class="col-md-16 reset-padding margin-top">
    <buton class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="linkClinic()" translate="clinic-view-assoc-patients"></buton>
    <buton class="hillrom-btn btn-secondary float-right" ng-click="linkClinic()" translate="clinic-view-assoc-hcps"></buton>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 admin-views">
    <span class="admin-views" translate="clinic.assoc-clinic"></span>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'doctor.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchDoctors()">
            <option value="" selected>Newly Created</option>
            <option value="email">Email</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container admin-user">
<div class="col-md-16 detail-list__thead">
    <div class="col-md-3 detail-list__thead--desc">
      <span>Clinic Name</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>Address</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>City</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>State</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>Phone Number</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>Type</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-2 detail-list__thead--desc">
      <span>Hill-Rom ID</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="col-md-1 detail-list__thead--desc text-right">
      <span>status</span>
      <div class="sort-icon">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
  </div>

  <div class="col-md-16 detail-list">
    <div class="col-md-3 detail-list--title">
      <span>Lakeland Community Hospital</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>8244 Heather Lane</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>New York</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>NY</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>209-236-9080</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>Parent</span>
    </div>
    <div class="col-md-2 detail-list--desc">
      <span>HR 123456</span>
    </div>
    <div class="col-md-1 detail-list--desc">
      <div class="icon-font text-right">
        <span class="icon-lungs"></span>
      </div>
    </div>
  </div>

  <div class="col-md-16 reset-padding margin-bottom-xl">
    <buton class="hillrom-btn btn-primary float-right" ng-click="linkClinic()" translate="clinic.add-satellite-clinic"></buton>
  </div>
</div>

