
<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left">
      <span class="dashbord-nav__primary--title">Manage Users</span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createUser()">
      <span class="dashbord-nav__secondary--create-new">Create New</span>
      <span class="hillrom-icon icon-plus-icon"></span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="row dashboard__manage-view--search">
      <div class="col-md-14 reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" />
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="col-md-2 reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchUsers()">
            <option value="" selected>Newly Created</option>
            <option value="email">Email</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
          </select>
        </div>
      </div>
    </div>
     <div class="dashboard__manage-view--list" ng-repeat="user in users">
      <div ng-class="{ 'inactive': user.deleted }" ng-click="user.deleted || selectUser(user)">
        <div class="col-md-3 reset-padding-left">
          <span class="user-name">{{user.lastName}} {{user.firstName}}</span>
          <span class="user-email">{{user.email}}</span>
        </div>
        <div class="col-md-4">
          <span class="user-address">{{user.role}}</span>
        </div>
        <div class="col-md-4">
          <span class="clinic-name">12345</span>
        </div>
        <div class="col-md-5 reset-padding-right">
           <span class="clinic-name">{{user.id}}</span>
        </div>
        <div class="clr"></div>
     </div>
    </div>
    <div class="dashboard__manage-view--pagination">
      <div class="col-md-16 reset-padding-right">
        <div class="navbar-right">
          <span class="record-found">{{total}} Users</span>
          <span class="record-found">Found</span>
          <span  ng-show="pageCount > 1">
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchUsers('PREV')">Previous</span>
            <span class="navigaion-no">{{currentPageIndex}}</span>
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchUsers('NEXT')">Next</span>
          </span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>