.dashboard {
	// position: fixed;
	background-color: $iceberg;
	font-weight: bold;
}

.dashboard--content {
	background-color: $body-bg;
}

.dashbord-nav {
	max-height: 40px;
	min-height: 40px;
	margin-bottom: 0;
  border-radius: 0;
  color: $body-bg;
}

.dashbord-nav__primary .dashbord-nav__secondary {
	min-height: inherit;
}

.dashbord-nav__primary--title {
	line-height: 38px;
}

.dashbord-nav__secondary {
	display: table;
	span {
		line-height: 38px;
		display: table-cell;
		vertical-align: middle;
	}
}

.create-user .hillrom-icon {
	font-weight: $font-weight-bold;
}

.user-required {
	color: $bombay;
  font-size: 12px;
  font-weight: $font-weight-bold;
  text-align: right;
}

.dashboard__form--label {
	line-height: 30px;
	color: $nevada;
	font-weight: normal;
}

.dashboard__form--input input {
	height: 30px;
	//width: 270px;
	width: 100%;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	padding-left: 10px;
	font-weight: normal;
	border-radius: 0;
}

.dashboard__form__input select {
	height: 30px;
	width: 70px;
	font-weight: normal;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	background-color: inherit;
	padding-left: 5px;
	-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.dashboard__form__input--option select {
	height: 30px;
	width: 160px;
	font-weight: normal;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	background-color: inherit;
	padding-left: 5px;
	-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.label-next input {
	width: 100%;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	padding-left: 10px;
	font-weight: normal;
}

.hillrom-btn {
	right: 40px;
  padding: 5px 24px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: $font-size-small;
  cursor: pointer;
}

.btn-submit {
  border: 1px solid $terracotta;
  background-color: $terracotta;
  color: $body-bg;
  margin-left: 10px;
}

.btn-submit-disable {
  border: 1px solid $terracotta;
  background-color: $terracotta;
  color: $body-bg;
}

.has-error {
	color: $terracotta;
	font-size: $font-size-small;
	font-weight: normal;
	padding: 5px 0;
}

.font-add-text {
	font-weight: bold;
}

.checkbox-add span{
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	font-weight: normal;

}

.dashboard__form--label-age {
  position: absolute;
  right: 0;
  border: 1px solid $bombay;
  top: 0;
  height: 30px;
  padding: 0 13px;
  line-height: 30px;
  font-weight: normal;
}

.dashboard__manage-view--search {
	margin-bottom: 30px;
}

.dashboard__manage-view--search .fuid-search-box {
    display: inline-block;
    position: relative;
    width: calc(100% - 145px);
}


.dashboard__manage-view--search .fixed-filter-box {
    display: inline-block;
    float: right;
    position: relative;
    width: 145px;
}

.dashboard__manage-view--search input {
	height: 30px;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	padding-left: 10px;
	font-weight: normal;
	border-radius: 0;
}

.dashboard__manage-view--search select {
	height: 30px;
	width: 100%;
	font-weight: normal;
	color: $body-bg;
	border: 1px solid $nevada;
	background-color: $nevada;
	padding-left: 5px;
	-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.search-dropdown:before {
  content:'\e600';
  font-family:"hillrom";
  color: $body-bg;
  padding: 0;
  font-size: 10px;
  position: absolute;
  top: 8px !important;
  right: 9px;
  z-index: 1;
  z-index: 1 \0;
  pointer-events: none;
}

.search-icon {
	position: absolute;
  right: 5px;
  padding: 0;
  top: 5px;
  font-size: 20px;
}

.dashboard__manage-view--list {
	border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  &:hover {
  	background-color: $seashell;
  }
}

.dashboard__manage-view--list .user-name {
	font-size: $font-size-base;
	color: $pickled-bluewood;
	display: block;
	font-weight: $font-weight-bold;
}

.dashboard__manage-view--list .user-email {
	font-size: $font-size-small;
	color: $bombay;
	display: block;
	font-weight: $font-weight-medium;
}

.dashboard__manage-view--list .user-home-no,
.dashboard__manage-view--list .user-address,
.dashboard__manage-view--list .clinic-name {
	font-size: $font-size-small;
	color: $celeste;
	display: block;
	font-weight: $font-weight-medium;
}

.dashboard__manage-view--list .hcp-name {
	font-size: $font-size-small;
	color: $nevada;
	font-weight: 600;
	display: block;
}

.dashboard__manage-view--list .clinic-name {
	font-size: $font-size-small;
	color: $celeste;
	display: block;
}

.dashboard__manage-view--list .hr-id {
	font-size: $font-size-small;
	color: $charcoal;
	font-weight: 600;
}

.dashboard__manage-view--list .user-lungs,
.dashboard__manage-view--list .user-pressure {
	font-size: 30px;
	text-align: center;
	color: $alto;
}

.dashboard__manage-view--list .active {
	color: $terracotta;
}

.dashboard__manage-view {
  .inactive {
    opacity: 0.6;
  }
}

.dashboard__manage-view--list .inactive,
.dashboard__manage-view--list .inactive {
	color: $Parsley;
}

.dashboard__manage-view--list .progress-input {
	font-size: $font-size-small;
	color: $charcoal;
	font-weight: $font-weight-bold;
	text-align: center;
}

.dashboard__manage-view--list .progress {
  height: 5px;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.dashboard__manage-view--list .center-text {
	  padding: 5px 0;
}

.dashboard__manage-view--pagination {
	margin-top: 10px;
	margin-bottom: 60px !important;
}

.dashboard__manage-view--pagination .record-found {
	font-size: $font-size-small;
	color: $charcoal;
	font-weight: 600;
	padding-right: 5px;
}

.dashboard__manage-view--pagination .navigaion-link,
.dashboard__manage-view--pagination .navigaion-no {
	font-size: $font-size-small;
	color: $nevada;
	font-weight: $font-weight-medium;
}

.dashboard__manage-view--pagination .navigaion-no {
	padding: 0 5px;
}

.dashboard__manage-view--pagination .inactive {
	font-size: $font-size-small;
	color: $celeste;
	font-weight: $font-weight-medium;
	cursor: default;
}

.user-help {
	background-color: $seashell;
	position: fixed;
  right: 0;
  left: 0;
  bottom: 40px;
}

.user-help--container {
	position: relative;
	padding: 20px 0;
}

.help-icon {
	span {
		font-size: 115px;
		line-height: 0.5;
	}
	.icon-man-with-circle {
		color: $terracotta;
	}
	.icon-tablet-with-circle {
		color: $blue-portage-light;
	}
}

.user-help__desc--heading {
	font-size: $font-size-base;
	color: $pickled-bluewood;
	display: block;
	font-weight: $font-weight-bold;
}

.user-help__desc--content {
	font-size: $font-size-small;
	color: $trolley-grey;
	font-weight: $font-weight-medium;
}

.user-help--close {
	position: absolute;
	right: 10px;
  top: 5px;
  font-size: 10px;
  cursor: pointer;
}

.user-help-devider {
	border-right: 1px solid $alto-solid;
}

.multi-clinic {
  position: relative;
  span {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    right: 0;
    top: 4px;
  }
}

.selected-box-container {
	height: 30px;
}

.modal {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}

.modal__header {
	background-color: #34455c;
	color: white;
	padding: 10px 20px;
	margin-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform: none;
}

.modal__content {
	padding: 0;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modal__close {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	color: white;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 24px;
	font-weight: 100;
	line-height: 1;
	margin: -2px 0 0;
	padding: 0;
}

.modal__body {
	padding: 20px;
	background-color: $body-bg;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.modal--message {
	color: $nevada;
}

.modal--custom-btn {
	padding-top: 30px;
}

.parent-list {
  position: relative;
}

.dashboard-page__user-list--parent-list {
  border: 1px solid $bombay;
  position: absolute;
  z-index: 999;
  width: 100%;
  font-weight: normal;
  .parent-detail {
    background-color: $seashell;
    padding-left: 7px;
    &:hover {
      background-color: $alto;
      cursor: pointer;
    }
  }
}

.parent-clinic {
	color: $terracotta;
}

tags-input.ng-invalid .tags {
    box-shadow: none;
}

.user-detail-info {
  padding: 0;
  border: 1px solid $celeste;
}

.user-detail-info__data {
  padding-top: 10px;
  padding-bottom: 10px;
  &--key {
    color: #858f9d;
  }
  &--value {
    color: #34455c;
    font-weight: bold;
    font-size: 12px;
  }
}

.admin-user .detail-list {
  padding: 0;
  border-bottom: 1px solid $bombay;
  margin-bottom: 10px;
}

.admin-user .detail-list--title {
  padding: 0;
  span {
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    color: $pickled-bluewood;
  }
}

.admin-user .detail-list--desc {
  padding: 0;
  span {
    font-weight: $font-weight-medium;
    font-size: $font-size-small;
    color: $nevada;
  }
}

.admin-user .detail-list--desc .icon-font {
  position: relative;
  clear: both;
}

.admin-user .detail-list--desc .icon-font .icon-lungs {
  position: absolute;
  font-size: $font-size-icon;
  top: -5px;
}