.dashboard {
	left:0;
	width: 100%;
	// position: fixed;
	background-color: $seashell;
	max-height: 40px;
	min-height: 40px;
	color: $pickled-bluewood;
	font-weight: bold;
}

.dashbord-nav__primary {
	min-height: inherit;
}

.dashbord-nav__primary--title {
	line-height: 38px;
}

.dashbord-nav__secondary{
	min-height: inherit;
}

.dashbord-nav__secondary--create-new {
	line-height: 38px;
}

// .dashboard__form {
// 	margin-top: 40px;
// }

.dashboard__form--label {
	line-height: 30px;
	color: $nevada;
	font-weight: normal;
}

.dashboard__form--input input {
	height: 30px;
	width: 270px;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	padding-left: 10px;
	font-weight: normal;
}

.dashboard__form__input select {
	height: 30px;
	width: 70px;
	font-weight: normal;
	color: $pickled-bluewood;
	border: 1px solid $bombay;
	background-color: inherit;
	padding-left: 5px;
	-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

// input[type=checkbox]{
// 	padding-left:5px;
//   padding-right:5px;
//   border-radius:0;

//   -webkit-appearance:button;

//   border: 1px solid red;
//   color:#FFF;
//   white-space: nowrap;
//   overflow:hidden;
//   width:15px;
//   height:15px;	
// }

// input[type=checkbox]:checked {
//     background-color:#000;
//     border-left-color:#06F;
//     border-right-color:#06F;
// }

// input[type=checkbox]:hover {
//     box-shadow:0px 0px 10px #1300ff;
// }