.dashboard-page{
	height: 100%;
	&__admin-nav{
  	height: 100%;
  	&--nav{
  		height: 100%;
	  	&_dashboard{
	  		background-color: #727272;
			  padding: 10px;
			  margin-bottom: 0px;
	  	}
	  	&_nav-list{
	  		height: 90%;
				background-color: #9A9A9A;
				li{
					line-height: 2.5;
					border-bottom: 1px solid #FAFAFA;
					a{
						color: #FAFAFA;
						background-color: #9A9A9A;
						cursor: pointer;
					}
					a:hover{
						color: #FAFAFA;
						background-color: #9A9A9A;
					}
				}
				li.active a:after{
					content: '';
				  display: none;
				  width: 0;
				  height: 0;
				  border-style: solid;
					border-width: 8px 0 8px 17px;
					border-color: transparent transparent transparent #727272;
				  position: absolute;
				  z-index: 1;
				  top: 30%;
				  left: 100%;
				}
				li.active a {
				  background-color: #727272;
				  color: white;
				  position: relative;
				}
				li.active a:after {
				  display: block;
				}
	  	}
  	}
	}
	&__form{
		&--new{
			font-size: 10px;
			&_user-type{
				padding: 5px;
				font-weight: bold;
				font-size: 14px;
			}
			label{
				padding-top: 10px;
			}
			input{
				height: 30px;
			  border-radius: 0;
			}
			&_form-submit{
				text-align: right;
			  padding: 0 30px;
			  margin-top: 10px;
			  &--button{
					background-color: #bababa;
				  color: #FAFAFA;
				  padding: 5px 30px;
				  border: none;
				  text-transform: uppercase;
				  font-weight: 700;
				  border-radius: 2px;
				}
			}
			&_user-title{
				width: 80px;
				height: 30px;
			  border-radius: 0;
			}
			&_calendar{
				color: #727272;
				input{
					width: 100%;
					padding-left: 5px;
				}
			}
			&_select-box{
				select{
					height: 30px;
					border-radius: 0;
				}
			}
			&_checkbox{
				input[type=checkbox]{
					border-radius: 0;
					width: 15px;
				}
				span{
					padding-left: 10px;
					padding-top: 12px;
				}
			}
			&_spec-title{
				input{
					width: 35px;
	  			padding: 0 0 0 8px;	
				}
			}
		}
	}
	&__user-list{
		&__detailed{
			&--list-type{
				padding: 5px;
				font-weight: bold;
				font-size: 14px;
			}
			&__list-form{
				&--input-wrapper{
					position: relative;
					i{
						position: absolute;
					  right: 0;
					  padding: 10px 13px;
					}
					input {
					  border-radius: 2px;
					  border: none;
					  padding-left: 7px;
					  height: 34px;
					  color: #aaa;
					  margin-bottom: 5px;
					  background-color: #EEEEEE;
					  box-shadow: none;
					}
					input:focus {
					  outline: none;
					  box-shadow: none;
					}
				}
				&--input-wrapper:after {
				  position: absolute;
				  border: 1px solid #ccc;
				  border-top: none;
				  height: 5px;
				  width: 100%;
				  bottom: 6px;
				  left: 0;
				  content: "";
				}
				&--sort-list{
					padding: 10px 20px;
  				.sort-link{
  					cursor: pointer;
  					&--text{
  						padding-right: 8px;
  					}
  				}
  				.sort-link:active{
  					cursor: pointer;
  					color: #000000;
  				}
				}
			}
		}
	}
}