$header--background: $pickled-bluewood;
.navbar-default {
	background-color: $header--background;
	color: $bombay;
	min-height: 60px;
	.navbar-brand{
		padding: 19px 10px;
	}
}
.navbar-default > .container, 
.navbar-default > .container > .navbar-header, 
.navbar-default > .container > .navbar-header > .navbar-brand, 
.navbar-default > .container > .navbar-secondary,
.navbar-default > .container > .navbar-secondary ul,
.navbar-default > .container > .navbar-secondary ul li {
	min-height: inherit;
	background-color: inherit;
	color: inherit;
}

.navbar-secondary .navbar-right > li {
  min-width: 40px;
}

.navbar-secondary .navbar-right > li {
  padding: 0 20px;
}

.navbar-secondary .navbar-right li a {
	color: inherit;
	padding: 19px 10px;
	&:hover {
		background-color: inherit;
		color: inherit;
		box-shadow : 0 -3px 0 0 #ef7164 inset;
		border-radius: 0;
  	padding-bottom: 20px;
  	span{
			color: white;
		}
	}
}
.navbar-secondary .navbar-right li:last-child a{
	color: inherit;
	padding: 19px 0;
	&:hover {
		background-color: inherit;
		color: inherit;
		border-radius: 0;
  	padding-bottom: 20px;
  	box-shadow : 0 0 0 0 #ef7164 inset;
	}
}

.navbar-secondary .navbar-right li a.active{
	background-color: inherit;
	color: inherit;
	box-shadow : 0 -3px 0 0 #ef7164 inset;
	border-radius: 0;
	padding-bottom: 20px;
	span{
		color: white;
	}
}