@font-face {
	font-family: 'hillrom';
	src:url('fonts/hillrom.eot?pcy3rd');
	src:url('fonts/hillrom.eot?#iefixpcy3rd') format('embedded-opentype'),
		url('fonts/hillrom.ttf?pcy3rd') format('truetype'),
		url('fonts/hillrom.woff?pcy3rd') format('woff'),
		url('fonts/hillrom.svg?pcy3rd#hillrom') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hillrom-icon {
	font-family: 'hillrom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-clinic:before {
	content: "\e601";
}
.icon-doctor:before {
	content: "\e602";
}
.icon-logout:before {
	content: "\e603";
}
.icon-lungs:before {
	content: "\e604";
}
.icon-man:before {
	content: "\e605";
}
.icon-man-with-circle .path1:before {
	content: "\e606";
	color: rgb(238, 113, 100);
}
.icon-man-with-circle .path2:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(183, 83, 79);
}
.icon-man-with-circle .path3:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-patient:before {
	content: "\e609";
}
.icon-pressure:before {
	content: "\e60a";
}
.icon-tablet-with-circle .path1:before {
	content: "\e60b";
	color: rgb(126, 161, 212);
}
.icon-tablet-with-circle .path2:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(54, 105, 167);
}
.icon-tablet-with-circle .path3:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-user:before {
	content: "\e60e";
}
.icon-user-account:before {
	content: "\e60f";
}