html{
	height: 100%;
}
body{
	height: 100%;
	color: #A7A7A7;
}
.container-top-indent{
	margin-top: 50px;
	height: inherit;
}
.content-body{
	background-color: #EEEEEE;
	height: 85%;
}
.clr{
	clear: both;
}
.text-center{
	text-align: center;
}
.textUpperCase{
	text-transform: uppercase;
}
.indent-bottom-5{
	padding-bottom: 5px;
}
.indent-top-15{
	padding-top: 15px;
}