
.container-top-indent {
	height: inherit;
}

.content-body {
	background-color: #EEEEEE;
	height: -o-calc(100% - 100px); /* opera */
	height: -webkit-calc(100% - 100px); /* google, safari */
	height: -moz-calc(100% - 100px);
	margin-top: 50px;
}

.clr {
	clear: both;
}

.padding-left {
	padding-left: 10px;
}

.padding-right {
	padding-right: 10px;
}

.padding-left-ls {
	padding-left: 20px;
}

.padding-right-ls {
	padding-right: 20px;
}

.no-padding {
	padding: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}