.login{
  display: table;
  height: 100%;
  width: 100%;
}

.login__container{
  height: 100%;
  padding: 0 15px;
  display: table;
  vertical-align: middle;
}

.login__container__left-section{
  height: 100%;
  display: table;
}

.login__container__left-section--description{
  display: table-cell;
  vertical-align: middle;
  &.content{
    float: left;
    width: 70%;
    padding-top: 11%;
  }
  &.image{
    padding: 20px 0;
    border-right: 1px solid;
    padding-right: 75px;
  }
}

.login__container__right-section{
  height: 100%;
  display: table;
}

.login__container__right-section--form{
  display: table-cell;
  vertical-align: middle;
}

.login .login-button{
  color: #FFF;
  border: none;
  padding: 3px 30px;
  background-color: #9A9A9A;
  border-radius: 4px;
  text-transform: uppercase;
}

.login input::-webkit-input-placeholder {
  color: #A7A7A7;
  opacity: 0.6;
}

.login a{
  color: inherit;
}