.patient-user {
  // position: fixed;
  background-color: $seashell;
  color: $pickled-bluewood;
  font-weight: bold;
  border: 0;
}

.patient-user--content {
  background-color: $body-bg;
}

.patient-user--nav {
  max-height: 40px;
  min-height: 40px;
  margin-bottom: 0;
}

.patient-user__navbar {
  padding-left: 0;
  min-height: 40px;
}

.patient-user__navbar ul > li {

  //min-width: 40px;
}

.patient-user__navbar ul > li > a{
  padding: 10px 0;
  padding-right: 100px;
}

.dashbord-nav__primary .dashbord-nav__secondary {
  min-height: inherit;
}

.dashbord-nav__primary--title {
  line-height: 38px;
}