<div>

    <h2 translate="hillromvestApp.patientVestDeviceRawLog.home.title">PatientVestDeviceRawLogs</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePatientVestDeviceRawLogModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="hillromvestApp.patientVestDeviceRawLog.home.createLabel">Create a new PatientVestDeviceRawLog</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePatientVestDeviceRawLogModal" tabindex="-1" role="dialog" aria-labelledby="myPatientVestDeviceRawLogLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPatientVestDeviceRawLogLabel" translate="hillromvestApp.patientVestDeviceRawLog.home.createOrEditLabel">Create or edit a PatientVestDeviceRawLog</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="global.field.id">ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="patientVestDeviceRawLog.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.deviceModelType">DeviceModelType</label>
                            <input type="text" class="form-control" name="deviceModelType"
                                   ng-model="patientVestDeviceRawLog.deviceModelType">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.deviceData">DeviceData</label>
                            <input type="text" class="form-control" name="deviceData"
                                   ng-model="patientVestDeviceRawLog.deviceData">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.deviceSerialNo">DeviceSerialNo</label>
                            <input type="text" class="form-control" name="deviceSerialNo"
                                   ng-model="patientVestDeviceRawLog.deviceSerialNo">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.deviceType">DeviceType</label>
                            <input type="text" class="form-control" name="deviceType"
                                   ng-model="patientVestDeviceRawLog.deviceType">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.hubId">HubId</label>
                            <input type="text" class="form-control" name="hubId"
                                   ng-model="patientVestDeviceRawLog.hubId">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.airInterfaceType">AirInterfaceType</label>
                            <input type="text" class="form-control" name="airInterfaceType"
                                   ng-model="patientVestDeviceRawLog.airInterfaceType">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.customerName">CustomerName</label>
                            <input type="text" class="form-control" name="customerName"
                                   ng-model="patientVestDeviceRawLog.customerName">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.timeZone">TimeZone</label>
                            <input type="text" class="form-control" name="timeZone"
                                   ng-model="patientVestDeviceRawLog.timeZone">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.spReceiveTime">SpReceiveTime</label>
                            <input type="datetime-local" class="form-control" name="spReceiveTime"
                                   ng-model="patientVestDeviceRawLog.spReceiveTime" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.hubReceiveTime">HubReceiveTime</label>
                            <input type="datetime-local" class="form-control" name="hubReceiveTime"
                                   ng-model="patientVestDeviceRawLog.hubReceiveTime" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.deviceAddress">DeviceAddress</label>
                            <input type="text" class="form-control" name="deviceAddress"
                                   ng-model="patientVestDeviceRawLog.deviceAddress">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.hubReceiveTimeOffset">HubReceiveTimeOffset</label>
                            <input type="number" class="form-control" name="hubReceiveTimeOffset"
                                   ng-model="patientVestDeviceRawLog.hubReceiveTimeOffset">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.cucVersion">CucVersion</label>
                            <input type="text" class="form-control" name="cucVersion"
                                   ng-model="patientVestDeviceRawLog.cucVersion">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.customerId">CustomerId</label>
                            <input type="text" class="form-control" name="customerId"
                                   ng-model="patientVestDeviceRawLog.customerId">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.rawMessage">RawMessage</label>
                            <input type="text" class="form-control" name="rawMessage"
                                   ng-model="patientVestDeviceRawLog.rawMessage">

                        </div>
                        <div class="form-group">
                            <label translate="hillromvestApp.patientVestDeviceRawLog.rawHexaData">RawHexaData</label>
                            <input type="text" class="form-control" name="rawHexaData"
                                   ng-model="patientVestDeviceRawLog.rawHexaData">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePatientVestDeviceRawLogConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(patientVestDeviceRawLog.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="hillromvestApp.patientVestDeviceRawLog.delete.question" translate-values="{id: '{{patientVestDeviceRawLog.id}}'}">Are you sure you want to delete this PatientVestDeviceRawLog?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.deviceModelType">DeviceModelType</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.deviceData">DeviceData</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.deviceSerialNo">DeviceSerialNo</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.deviceType">DeviceType</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.hubId">HubId</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.airInterfaceType">AirInterfaceType</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.customerName">CustomerName</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.timeZone">TimeZone</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.spReceiveTime">SpReceiveTime</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.hubReceiveTime">HubReceiveTime</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.deviceAddress">DeviceAddress</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.hubReceiveTimeOffset">HubReceiveTimeOffset</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.cucVersion">CucVersion</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.customerId">CustomerId</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.rawMessage">RawMessage</th>
                    <th translate="hillromvestApp.patientVestDeviceRawLog.rawHexaData">RawHexaData</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patientVestDeviceRawLog in patientVestDeviceRawLogs">
                    <td><a ui-sref="patientVestDeviceRawLogDetail({id:patientVestDeviceRawLog.id})">{{patientVestDeviceRawLog.id}}</a></td>
                    <td>{{patientVestDeviceRawLog.deviceModelType}}</td>
                    <td>{{patientVestDeviceRawLog.deviceData}}</td>
                    <td>{{patientVestDeviceRawLog.deviceSerialNo}}</td>
                    <td>{{patientVestDeviceRawLog.deviceType}}</td>
                    <td>{{patientVestDeviceRawLog.hubId}}</td>
                    <td>{{patientVestDeviceRawLog.airInterfaceType}}</td>
                    <td>{{patientVestDeviceRawLog.customerName}}</td>
                    <td>{{patientVestDeviceRawLog.timeZone}}</td>
                    <td>{{patientVestDeviceRawLog.spReceiveTime}}</td>
                    <td>{{patientVestDeviceRawLog.hubReceiveTime}}</td>
                    <td>{{patientVestDeviceRawLog.deviceAddress}}</td>
                    <td>{{patientVestDeviceRawLog.hubReceiveTimeOffset}}</td>
                    <td>{{patientVestDeviceRawLog.cucVersion}}</td>
                    <td>{{patientVestDeviceRawLog.customerId}}</td>
                    <td>{{patientVestDeviceRawLog.rawMessage}}</td>
                    <td>{{patientVestDeviceRawLog.rawHexaData}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="patientVestDeviceRawLogDetail({id:patientVestDeviceRawLog.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(patientVestDeviceRawLog.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(patientVestDeviceRawLog.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
