<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header left-padding navbar-primary">
      <a class="navbar-brand" href="#/"><img class="hillrom_logo" src="assets/images/logo-HillRom.png" alt="HillRom Logo"></a>
    </div>
    <div class="collapse navbar-collapse pull-right navbar-secondary" id="navbar-collapse" ng-switch="isAuthenticated()">
      <ul class="nav navbar-nav nav-pills">
        <li>
          <a class="active" ui-sref="home">
            <span class="icon-patient"></span>
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span class="icon-doctor"></span>
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span class="icon-clinic"></span>
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span class="icon-user"></span>
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span class="padding-right">Jose Rubert</span>
            <span class="icon-arrow-down"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
