<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header left-padding navbar-primary">
      <a class="navbar-brand" href="#/"><img class="hillrom_logo" src="assets/images/logo-HillRom.png" alt="HillRom Logo"></a>
    </div>
    <div class="collapse navbar-collapse pull-right navbar-secondary" id="navbar-collapse" ng-switch="isAuthenticated()">
      <ul class="nav navbar-nav nav-pills">
        <li>
          <a class="active" ui-sref="home">
            <img src="assets/images/patient.png" alt="Patient">
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <img src="assets/images/doctor.png" alt="Healthcare Professional">
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <img src="assets/images/clinic.png" alt="Clinic">
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <img src="assets/images/user.png" alt="User">
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span class="padding-right">Jose Rubert</span>
            <img src="assets/images/down-arrow.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
