<div class="login">
  <div class="row login__container">
    <div class="col-md-12 login__container--left-section">
      <div class="login__container--left-section-description">
        <div class="login__container--left-section-description_content">
          The Vest Airway Clearance System, Model 105, is a designed to assist patients in the mobilization of retained secretions that, if not removed, may lead to increased rates of respiratory infaction, hospitalization and reduced lung function.
        </div>
        <div class="login__container--left-section-description_image">
          <img src="assets/images/heart.jpeg">
        </div>
      </div>
    </div>
    <div class="col-md-4 login__container--right-section">
      <div class="login__container--right-section-form">
        <div class="text-center textUpperCase indent-bottom-5" translate="login.title">Login to your Account</div>
        <!-- <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div> -->
        <form class="form" role="form" ng-submit="login($event)">
          <div class="form-group">
            <!-- <label for="username" translate="global.form.username">Login</label> -->
            <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
          </div>
          <div class="form-group">
            <!-- <label for="password" translate="login.form.password">Password</label> -->
            <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="password">
          </div>
          <button type="submit" class="login-button center-block" translate="login.form.button">Authenticate</button>
        </form>
        <div class="alert alert-warning text-center">
          <a href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a>
        </div>
        <!-- <div class="alert alert-warning" translate="global.messages.info.register">
                You don't have an account yet? <a href="#/register">Register a new account</a>
            </div> -->
      </div>
    </div>
  </div>
</div>
