<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

          <div ng-show="showLogin">
            <h1 translate="login.title">Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form" ng-submit="login($event)" name="loginForm">
                <div class="form-group">
                    <label for="username" translate="global.form.username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password" translate="login.form.password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="password">
                </div>
                <div class="form-group" ng-show="showCpatcha">
                  <div re-captcha ng-model="user.captcha"></div>
                </div>
                <button class="btn btn-primary" translate="login.form.button" ng-click="login($event)">Authenticate</button>
                <!-- <button type="submit" class="btn btn-primary" translate="login.form.button">Authenticate</button> -->
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning" translate="global.messages.info.register">
                You don't have an account yet? <a href="#/register">Register a new account</a>
            </div>
          </div>

          <div ng-show="isFirstLogin">
            <form class="form" role="form" ng-submit="submitPassword($event)">
              <div class="form-group" ng-show="!isEmailExist">
                <label for="Email ID" translate="global.form.email">E-Mail</label>
                <input type="text" class="form-control" id="" placeholder="{{'login.form.email.placeholder' | translate}}" ng-model="user.email">
              </div>
              <div class="form-group">
                <label for="Password" >Password</label>
                <input type="password" class="form-control" id="" placeholder="password" ng-model="user.password">
              </div>
              <div class="form-group">
                <label for="Confirm Password" > Confirm Password</label>
                <input type="password" class="form-control" id="" placeholder="confirm password" ng-model="user.confirmPassword">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

        </div>
    </div>
</div>
